# Project information
site_name: 'Metagenomics Workshop, using Galaxy'
site_author: 'Mathis Arnal'
site_url: 'https://mathis-arnal.github.io/Metagenomic_Training/'
site_description: Workshop on Metagenomic
# Repository
repo_name: 'mathis-arnal/Metagenomic_Training'
repo_url: 'https://github.com/mathis-arnal/Metagenomic_Training.git'
edit_uri: edit/main/docs/ # Allow to replace edit/master/docs use by default

# Configuration
theme:
  name: material
  logo: pages/images/IRD.png # logo top left page
  search_index_only: true
  include_search_page: true
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
  # - content.tabs.link
    - content.tooltips
    - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.prune
    # - navigation.sections # collapse subsections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate # remove table of content on the right side
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

# Extensions
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed
  - attr_list
  - mdx_math:
      enable_dollar_delimiter: true # Allows using $...$ for inline equations
  - tables
  - toc:
      permalink: '#'


# Plugins
plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  # - minify:
  #     minify_html: true
  - macros

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML

  

# Customization
extra:
  homepage: index.md # Page displayed when clicking the logo
  history_buttons: false
  institute: SouthGreen
  repo: https://github.com/Juke34/workshop-reproducible-research
  color_table_header: "#333a99"

# page tree
nav:
    - Home: index.md
    - Schedule: pages/course-information/schedule.md
        # - Lectures: pages/course-information/lectures.md
        # - Setup: pages/course-information/pre-course-setup.md
    - Tutorials:
        - Metagenomic :
          #- Introduction: pages/metagenomic/00-meta_introduction.md
          
          - Starting a metagenomic project: pages/metagenomic/01-background-metadata.md
          - What is a fastq file ?: pages/metagenomic/02-fastq-desc.md
          - Short intro to Galaxy: pages/metagenomic/03-short_intro_galaxy.md
          - Assessing Read Quality:   pages/metagenomic/04-assessing-read-quality.md
          - Trimming and Filtering: pages/metagenomic/05-trimming-filtering.md
          - Taxonomy Profiling:  pages/metagenomic/06-taxonomic.md
          - Taxonomic Diversity: pages/metagenomic/07-diversity.md
          - Assembly: pages/metagenomic/08-assembly.md
        # - Galaxy:
        #   - Short intro to Galaxy: pages/galaxy/00-short_intro_galaxy.md
          # - Taxonomic profiling: pages/galaxy/02-taxonomy-galaxy.md          
        # - Introduction: pages/introduction/introduction.md
        # - Data Management: pages/data-management/data-management.md
